In [1]:
import numpy as np
import pandas as pd

In [8]:
a = np.array([1,5,3,3,9,7,7])
a

array([1, 5, 3, 3, 9, 7, 7])

In [9]:
i=a.argmax()
a[i]

9

In [15]:
b = np.unique(a , return_counts=True, return_index=True)

In [16]:
b

(array([1, 3, 5, 7, 9]),
 array([0, 2, 1, 5, 4], dtype=int64),
 array([1, 2, 1, 2, 1], dtype=int64))

In [17]:
type(b)

tuple

In [31]:
a = [[6,0],[3,1],[4,1],[8,0],[7,0]]
#a = np.array(a)

In [34]:
a = sorted(a)
a

[[3, 1], [4, 1], [6, 0], [7, 0], [8, 0]]

In [37]:
a = a[:3]
print(a)
a = np.array(a)
print(a)

[[3, 1], [4, 1], [6, 0]]
[[3 1]
 [4 1]
 [6 0]]

In [38]:
b = np.unique(a[:,1], return_counts=True)

In [39]:
b

(array([0, 1]), array([1, 2], dtype=int64))

In [48]:
c=b[1]
i=c.argmax()
b[0][i]

1

In [65]:
a = np.array([1,2,3])
b = np.array([6,7,8])
dist = sum(a-b)

In [66]:
dist

-15

In [202]:
x = pd.read_csv('xdata.csv')
y = pd.read_csv('ydata.csv')

x = x.drop('0', axis=1).values
y = y.drop('0',axis=1).values

In [203]:
x

array([[ 3.516279  ,  3.71975047],
       [ 4.60649561,  3.41437943],
       [ 4.67701056,  3.04724443],
       [ 4.15772454,  3.13867678],
       [ 3.15443087,  3.61985805],
       [ 3.41751854,  4.59164128],
       [ 1.61124605,  3.39835595],
       [ 4.28808719,  4.04396943],
       [ 3.19607968,  4.95114323],
       [ 1.6258394 ,  4.90239967],
       [ 2.82894521,  3.91445026],
       [ 2.28966729,  5.06896877],
       [ 2.89206152,  3.66529487],
       [ 2.33634919,  4.77256166],
       [ 3.67027475,  3.79730296],
       [ 2.30717865,  4.73262822],
       [ 3.15130599,  3.43648588],
       [ 4.14502484,  2.94851846],
       [ 2.17253471,  3.6488889 ],
       [ 3.39390371,  4.13447274],
       [ 1.59644351,  4.43875703],
       [ 3.38348549,  4.02119623],
       [ 5.08330979,  4.03477733],
       [ 1.21644435,  4.31174386],
       [ 4.15939179,  2.54939222],
       [ 2.2392529 ,  4.33673035],
       [ 2.99918423,  5.63946256],
       [ 3.10384641,  3.0156258 ],
       [ 2.47612428,  4.12508079],
       [ 3.2447355 ,  2.49239435],
       [ 2.03739207,  5.03815425],
       [ 0.60211258,  5.29511732],
       [ 4.96947578,  3.37368252],
       [ 3.21264629,  3.83263367],
       [ 4.37032895,  4.13833792],
       [ 3.69323485,  3.24528272],
       [ 3.09839038,  3.35192483],
       [ 3.17307768,  3.69712075],
       [ 2.73714175,  3.32335845],
       [ 3.67894216,  3.97815432],
       [ 2.48794954,  3.43911347],
       [ 3.18673695,  3.40153958],
       [ 3.18191183,  1.97043755],
       [ 4.15883175,  2.76019051],
       [ 2.20697823,  4.70994226],
       [ 2.84548839,  5.14262008],
       [ 4.59079568,  4.13744089],
       [ 2.36254478,  4.90779038],
       [ 2.67790849,  1.89395445],
       [ 1.57605714,  4.64044625],
       [ 3.6808431 ,  4.57068586],
       [ 2.92745709,  3.82770824],
       [ 3.20588663,  3.91087375],
       [ 3.30360182,  3.23995077],
       [ 2.20999864,  3.8340588 ],
       [ 2.323852  ,  5.1822002 ],
       [ 2.16712307,  4.52288264],
       [ 2.39547176,  3.646189  ],
       [ 2.69133673,  4.72790838],
       [ 2.34153881,  2.47311439],
       [ 3.13307241,  4.2486247 ],
       [ 2.35244208,  4.8051259 ],
       [ 4.61446814,  3.74614171],
       [ 3.82434023,  4.33027249],
       [ 3.42670212,  3.07947486],
       [ 2.41688067,  4.77655656],
       [ 2.09213452,  5.83065929],
       [ 2.52633631,  3.30050546],
       [ 1.98433543,  4.0591948 ],
       [ 3.19426022,  4.64349128],
       [ 2.74785473,  2.95689444],
       [ 4.68630286,  2.65347184],
       [ 2.45409694,  3.62006999],
       [ 3.9820543 ,  2.87160599],
       [ 3.10515765,  4.61927152],
       [ 3.40675916,  4.07355771],
       [ 0.9245533 ,  5.63827035],
       [ 2.28599458,  3.42317721],
       [ 4.53695806,  3.16695962],
       [ 2.54380538,  4.69791807],
       [ 3.25612716,  3.35591376],
       [ 3.28681523,  3.46930694],
       [ 4.09065723,  2.21970997],
       [ 3.65187493,  3.71649865],
       [ 3.29565695,  4.44706088],
       [ 3.91887995,  4.57260046],
       [ 1.94345872,  4.85908464],
       [ 3.07424214,  5.0737755 ],
       [ 2.18661739,  3.91533977],
       [ 4.44060592,  4.34440637],
       [ 3.5954026 ,  4.95697895],
       [ 0.5073436 ,  5.9192382 ],
       [ 1.78753853,  5.40214723],
       [ 1.65929124,  4.4842585 ],
       [ 3.61704845,  4.0744272 ],
       [ 1.81507175,  3.96774273],
       [ 1.89446836,  5.51508261],
       [ 0.47337102,  5.01095642],
       [ 1.87856262,  6.26904634],
       [ 2.82616048,  5.059888  ],
       [ 3.93005367,  3.31479496],
       [ 2.71837115,  4.03463865],
       [ 2.85523865,  5.08957878],
       [ 1.91384322,  3.86307133],
       [ 2.37340369,  4.28116486],
       [ 2.90766062,  3.47571456],
       [ 3.10693108,  3.53732794],
       [ 1.89776309,  5.24708035],
       [ 3.36805877,  4.00556566],
       [ 3.83947344,  4.29243789],
       [ 4.53045005,  4.19310798],
       [ 2.68167384,  4.28752483],
       [ 4.60897081,  4.83370428],
       [ 3.19558005,  4.01577137],
       [ 3.22978254,  4.23644138],
       [ 2.73793138,  3.53656827],
       [ 1.91524776,  2.77081231],
       [ 2.8647964 ,  4.25691454],
       [ 3.44764816,  4.92815973],
       [ 4.51019443,  3.97253071],
       [ 2.46086159,  5.43412805],
       [ 3.64244117,  3.09539143],
       [ 3.56701463,  5.52961916],
       [ 2.65633903,  3.60123719],
       [ 2.3126555 ,  3.09748753],
       [ 2.11295998,  4.62970594],
       [ 3.83530819,  4.53775661],
       [ 2.71949043,  3.52554515],
       [ 1.23563428,  3.74363363],
       [ 1.94803141,  5.71886393],
       [ 3.05150737,  4.14836328],
       [ 1.74935573,  4.98355824],
       [ 2.79958107,  4.26399162],
       [ 3.13871825,  3.59740888],
       [ 3.55801893,  3.8855882 ],
       [ 4.19525335,  3.05764797],
       [ 1.78582719,  5.76128228],
       [ 3.11708136,  3.75679897],
       [ 2.53555333,  4.61192984],
       [ 3.63713134,  4.02121006],
       [ 4.41009022,  3.88537402],
       [ 3.25240922,  2.69860686],
       [ 3.21587349,  2.74229222],
       [ 3.92912952,  2.03379345],
       [ 1.89903783,  4.28213808],
       [ 3.02993506,  3.88041226],
       [ 2.04515476,  3.79421602],
       [ 3.31430383,  3.26783909],
       [ 4.2635822 ,  3.80169979],
       [ 2.75595723,  3.85442476],
       [ 1.98737285,  5.24857102],
       [ 4.6949494 ,  2.37725133],
       [ 2.31702188,  5.21359801],
       [ 1.97018475,  4.18795754],
       [ 2.69550697,  2.54698439],
       [ 1.53477598,  4.4978563 ],
       [ 2.59874804,  4.18719557],
       [ 3.32667479,  3.8889612 ],
       [ 2.61713671,  3.95981993],
       [ 2.92033619,  3.37746737],
       [ 2.93282541,  4.75517339],
       [ 1.61310107,  6.63213118],
       [ 2.90293604,  4.59399736],
       [ 4.02871472,  1.93268448],
       [ 2.38771937,  4.39591838],
       [ 3.13162922,  3.51513495],
       [ 5.39435184,  1.71535659],
       [ 1.71785836,  4.8777556 ],
       [ 2.56867735,  4.17969623],
       [ 3.48002213,  2.29931293],
       [ 5.72949356,  3.12872352],
       [ 0.43581707,  6.15985984],
       [ 1.77674247,  5.05791677],
       [ 2.53155437,  4.12932503],
       [ 2.52825028,  3.89379843],
       [ 2.72292452,  5.01829922],
       [ 2.20844219,  5.34839973],
       [ 3.42296123,  3.9384843 ],
       [ 2.00120285,  3.11937089],
       [ 3.20519271,  3.89155738],
       [ 3.82712033,  4.12351604],
       [ 3.0858227 ,  4.86586578],
       [ 2.75143147,  3.74692602],
       [ 4.50376468,  3.40432672],
       [ 3.39733137,  3.75755001],
       [ 3.41794219,  3.51911197],
       [ 2.23896043,  4.00949209],
       [ 2.9659104 ,  4.13566235],
       [ 2.7041812 ,  4.32105397],
       [ 3.76579189,  4.2561859 ],
       [ 3.41383737,  4.26329471],
       [ 1.44829095,  5.99609402],
       [ 2.23539443,  4.66555364],
       [ 3.62699991,  3.91953469],
       [ 2.0024338 ,  5.45345399],
       [ 2.74657148,  3.77761325],
       [ 2.16214312,  4.00014427],
       [ 3.84711149,  5.19598101],
       [ 1.02609944,  6.849884  ],
       [ 0.05152467,  0.98010834],
       [-0.96562169,  1.54263818],
       [-0.0384046 ,  1.15986311],
       [ 1.32998033,  2.20492248],
       [ 0.4267625 , -0.14492706],
       [-0.9082646 ,  0.75740789],
       [-0.74462846,  0.94818312],
       [-0.01592971,  1.26267455],
       [ 0.81631453,  1.23617605],
       [ 1.63186992,  2.74220659],
       [ 1.72932629,  2.0364049 ],
       [ 1.41047037,  1.85809335],
       [ 2.03635941,  2.08203451],
       [-0.17794765,  1.80180037],
       [ 0.04376139,  0.50793096],
       [ 0.05034174,  1.85969371],
       [ 0.84181464,  1.60221905],
       [ 0.64295582,  1.06322825],
       [-0.35719678,  0.75745283],
       [-0.30936652,  0.40486153],
       [ 0.84452019,  1.61067407],
       [-0.0208738 ,  0.70719916],
       [-0.20977721,  0.92442059],
       [-1.26560254,  0.74057482],
       [-1.09435589,  0.94227959],
       [-0.84414463,  1.4418423 ],
       [ 0.44457809,  1.89366764],
       [-1.19368086, -0.01954525],
       [-0.26580221,  0.12732931],
       [-0.90744502,  0.98050483],
       [-0.19245619,  1.36032203],
       [-0.9787596 ,  1.264338  ],
       [ 0.22287096,  1.73082834],
       [ 1.124024  ,  1.80038445],
       [-1.28371794,  0.1340895 ],
       [ 0.39200149,  0.8244133 ],
       [ 0.17172657,  2.18030806],
       [-0.07031094,  0.62592476],
       [ 0.16453158,  1.85817466],
       [-0.70026822,  0.04516639],
       [-0.51948285,  1.31735576],
       [-1.60922114,  0.69678423],
       [ 1.16824915,  1.29119004],
       [ 0.69801618,  1.83576263],
       [-1.31942684,  0.32722143],
       [ 0.4974999 ,  0.83896415],
       [-0.37758569,  1.37916011],
       [ 1.97232367,  1.30481967],
       [ 1.15897124,  1.35398136],
       [ 0.03137787,  1.21879161],
       [-0.1663347 ,  0.26456566],
       [-1.27632312,  1.03825197],
       [ 1.98442349,  2.19557353],
       [ 0.86333341,  0.70463669],
       [-0.78290686,  0.64929574],
       [ 0.68457051,  1.51688068],
       [ 0.19990872,  0.32525088],
       [ 0.52010418,  1.60027593],
       [ 1.03314409,  2.53409433],
       [-1.75242778,  1.12996124],
       [-1.25596728,  1.89391368],
       [ 1.46417625,  0.40852313],
       [-0.88561866,  0.67429504],
       [-1.54315458,  0.33101669],
       [ 0.51586645,  0.97712412],
       [ 0.20244867,  1.15297393],
       [ 0.5945683 ,  1.4484356 ],
       [-1.52070206, -0.03071408],
       [ 0.79966805,  2.28957314],
       [ 0.19383241,  1.10847749],
       [ 0.09511323,  0.72216935],
       [-1.83491187,  0.58993401],
       [-2.26075649,  0.4748583 ],
       [-0.61614867,  0.51332299],
       [ 0.81072247,  1.38205995],
       [-0.40825189,  0.69247803],
       [ 0.97470632,  1.69916866],
       [-0.64488028,  0.13950991],
       [-0.53576697, -0.42725726],
       [-0.44673948,  0.39442313],
       [ 0.35313046,  2.58971674],
       [ 0.52991511,  0.73730215],
       [-0.68851096,  0.44992686],
       [-0.43366679, -0.03749477],
       [-1.21056762, -0.3103894 ],
       [-0.16276547,  0.3482789 ],
       [ 0.63869619,  0.12579976],
       [-1.11418101,  0.34021499],
       [-0.29015181, -0.19005801],
       [ 0.43666721,  1.05481581],
       [-0.42100349, -0.19149351],
       [-0.99230651,  0.83544424],
       [-0.17874325,  1.20829439],
       [-0.88861105,  0.78937675],
       [ 0.16099552,  1.50604104],
       [-1.27588892, -0.16940926],
       [-0.73552512, -0.12297833],
       [-3.1271992 , -0.72069566],
       [-0.11784564,  0.95187713],
       [ 0.56485281,  0.90053776],
       [ 0.19901465,  1.32580617],
       [-0.44147835,  0.0083557 ],
       [-1.22127101,  0.65153281],
       [ 0.75670456,  1.84559747],
       [-0.03292948,  0.72625097],
       [ 0.4262373 ,  0.32664654],
       [-0.66623248,  1.38178742],
       [ 1.02802203,  1.5292826 ],
       [ 0.81145086,  1.36469983],
       [ 0.74373034,  0.8309087 ],
       [ 0.30999438,  1.4711523 ],
       [ 1.81019139,  2.84678918],
       [-0.35310715,  0.40779954],
       [-0.01384928,  2.15466352],
       [ 0.43571474,  1.64393272],
       [ 0.69174106,  0.43429393],
       [ 0.70047505,  1.85416258],
       [ 0.46383346,  0.32726873],
       [ 0.40644626,  1.6764517 ],
       [ 0.95578276,  1.93198428],
       [-1.55657749, -0.64968064],
       [-1.34096842,  1.15580704],
       [-0.22928052,  0.40511038],
       [-0.09663749,  1.45001232],
       [ 0.05786182,  0.90537313],
       [-0.90663136, -0.12080377],
       [ 0.14170214,  1.71040743],
       [ 1.65935986,  2.19452497],
       [-0.47848898,  2.03534337],
       [ 0.26187086,  0.3389718 ],
       [-1.82889201,  0.24918387],
       [-0.02490438,  0.75287958],
       [ 0.65199215,  1.34598421],
       [ 1.0509822 ,  1.02916502],
       [ 0.21453424,  2.07330323],
       [-0.0349242 ,  1.86136848],
       [-1.64871436,  0.09975032],
       [ 0.14652598,  1.43852602],
       [-1.42779987,  1.26024357],
       [ 1.20998502,  1.86706983],
       [ 1.54807134,  2.03164728],
       [-1.21477856, -0.20507726],
       [ 1.62625039,  1.16129631],
       [ 0.05550105,  1.00897311],
       [ 0.40730874,  1.21706458],
       [-0.09475031,  0.78098366],
       [-1.38526127,  0.25633006],
       [ 0.28422973,  0.96592514],
       [ 1.07329112,  2.31620201],
       [-0.16278352, -0.06822914],
       [ 0.37875618,  1.67224333],
       [-0.76031838,  1.33444967],
       [-0.53872398, -0.06106671],
       [-1.3480613 ,  0.5391807 ],
       [ 0.8493378 ,  1.5847846 ],
       [-0.84164408,  0.56155873],
       [-0.65324807,  1.81842374],
       [ 0.39442622,  1.62842925],
       [ 0.66997303,  0.82487352],
       [-0.44509125,  0.22864458],
       [ 1.32759496,  1.53546323],
       [-0.43337466, -0.45197962],
       [ 1.16421902,  1.4844649 ],
       [ 0.46526246,  1.18254402],
       [-0.23569548,  2.22208534],
       [-1.65457845, -0.35577968],
       [ 0.3508647 , -0.66509032],
       [ 0.93441431,  2.50514637],
       [-1.13721476,  0.07156738],
       [ 0.5582984 ,  0.93354887],
       [-0.67741244,  1.61881671],
       [-1.3477257 , -0.6515689 ],
       [ 0.01861143,  1.30514042],
       [ 1.22908985,  1.19444233],
       [-0.63805939,  1.41888598],
       [ 0.50820377,  2.06225317],
       [-0.20977065,  1.66794175],
       [-1.14772736,  0.56508936],
       [-0.96111709,  0.9932576 ],
       [ 0.68478417,  2.98360643],
       [ 0.65035689,  1.15899473],
       [-1.7580855 ,  1.00625568],
       [ 0.26412506,  1.39896241],
       [-0.2853563 ,  1.22521862],
       [ 1.386236  ,  2.04631046],
       [-0.1003743 ,  1.19791665],
       [-0.56893866,  0.36345923],
       [-0.74823522,  0.30166248],
       [ 0.94091117,  1.10141461],
       [-1.14704367,  0.55017264],
       [-0.5628373 ,  0.27017284],
       [ 0.00717591,  0.53080432],
       [-1.31976544,  0.21188179],
       [ 0.16843331,  1.335027  ],
       [-1.12207722,  0.05917188],
       [ 1.38923089,  2.59258407],
       [-0.35276782,  0.13646095],
       [ 0.78962568,  0.93166981],
       [-1.00253042, -0.67616247],
       [ 0.29238678,  0.56117782]])

In [204]:
y

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.]])

In [205]:
def distance(a,b):
    dist = np.sqrt(sum(a-b)**2)
    return dist

In [206]:
def KNN(x,y,querry, k=7):
    m = x.shape[0]
    n = querry.shape[0]
    predict=[]
    for j in range(n):
        dist=[]
        for i in range(m):
            d = distance(x[i], querry[j])
            dist.append([d,y[i][0]])            ## here y is 2D...
        sort_dist = sorted(dist)
        sort_dist = sort_dist[:7]
        sort_dist = np.array(sort_dist)
        no_of_label = np.unique(sort_dist[:,1], return_counts=True)
        index = no_of_label[1].argmax()
        predict.append([querry[j], no_of_label[0][index]])
    return predict

In [207]:
x_train = x[0:int(x.shape[0]*0.7)]
x_test = x[int(x.shape[0]*0.7):]

y_train = y[0:int(x.shape[0]*0.7)]
y_test = y[int(x.shape[0]*0.7):]

In [208]:
x_train.shape , y_train.shape , x_test.shape , y_test.shape

((279, 2), (279, 1), (120, 2), (120, 1))

In [209]:
predict = KNN(x_train,y_train,x_test)

In [210]:
predict

[[array([0.35313046, 2.58971674]), 1.0],
 [array([0.52991511, 0.73730215]), 1.0],
 [array([-0.68851096,  0.44992686]), 1.0],
 [array([-0.43366679, -0.03749477]), 1.0],
 [array([-1.21056762, -0.3103894 ]), 1.0],
 [array([-0.16276547,  0.3482789 ]), 1.0],
 [array([0.63869619, 0.12579976]), 1.0],
 [array([-1.11418101,  0.34021499]), 1.0],
 [array([-0.29015181, -0.19005801]), 1.0],
 [array([0.43666721, 1.05481581]), 1.0],
 [array([-0.42100349, -0.19149351]), 1.0],
 [array([-0.99230651,  0.83544424]), 1.0],
 [array([-0.17874325,  1.20829439]), 1.0],
 [array([-0.88861105,  0.78937675]), 1.0],
 [array([0.16099552, 1.50604104]), 1.0],
 [array([-1.27588892, -0.16940926]), 1.0],
 [array([-0.73552512, -0.12297833]), 1.0],
 [array([-3.1271992 , -0.72069566]), 1.0],
 [array([-0.11784564,  0.95187713]), 1.0],
 [array([0.56485281, 0.90053776]), 1.0],
 [array([0.19901465, 1.32580617]), 1.0],
 [array([-0.44147835,  0.0083557 ]), 1.0],
 [array([-1.22127101,  0.65153281]), 1.0],
 [array([0.75670456, 1.84559747]), 1.0],
 [array([-0.03292948,  0.72625097]), 1.0],
 [array([0.4262373 , 0.32664654]), 1.0],
 [array([-0.66623248,  1.38178742]), 1.0],
 [array([1.02802203, 1.5292826 ]), 1.0],
 [array([0.81145086, 1.36469983]), 1.0],
 [array([0.74373034, 0.8309087 ]), 1.0],
 [array([0.30999438, 1.4711523 ]), 1.0],
 [array([1.81019139, 2.84678918]), 0.0],
 [array([-0.35310715,  0.40779954]), 1.0],
 [array([-0.01384928,  2.15466352]), 1.0],
 [array([0.43571474, 1.64393272]), 1.0],
 [array([0.69174106, 0.43429393]), 1.0],
 [array([0.70047505, 1.85416258]), 1.0],
 [array([0.46383346, 0.32726873]), 1.0],
 [array([0.40644626, 1.6764517 ]), 1.0],
 [array([0.95578276, 1.93198428]), 1.0],
 [array([-1.55657749, -0.64968064]), 1.0],
 [array([-1.34096842,  1.15580704]), 1.0],
 [array([-0.22928052,  0.40511038]), 1.0],
 [array([-0.09663749,  1.45001232]), 1.0],
 [array([0.05786182, 0.90537313]), 1.0],
 [array([-0.90663136, -0.12080377]), 1.0],
 [array([0.14170214, 1.71040743]), 1.0],
 [array([1.65935986, 2.19452497]), 1.0],
 [array([-0.47848898,  2.03534337]), 1.0],
 [array([0.26187086, 0.3389718 ]), 1.0],
 [array([-1.82889201,  0.24918387]), 1.0],
 [array([-0.02490438,  0.75287958]), 1.0],
 [array([0.65199215, 1.34598421]), 1.0],
 [array([1.0509822 , 1.02916502]), 1.0],
 [array([0.21453424, 2.07330323]), 1.0],
 [array([-0.0349242 ,  1.86136848]), 1.0],
 [array([-1.64871436,  0.09975032]), 1.0],
 [array([0.14652598, 1.43852602]), 1.0],
 [array([-1.42779987,  1.26024357]), 1.0],
 [array([1.20998502, 1.86706983]), 1.0],
 [array([1.54807134, 2.03164728]), 1.0],
 [array([-1.21477856, -0.20507726]), 1.0],
 [array([1.62625039, 1.16129631]), 1.0],
 [array([0.05550105, 1.00897311]), 1.0],
 [array([0.40730874, 1.21706458]), 1.0],
 [array([-0.09475031,  0.78098366]), 1.0],
 [array([-1.38526127,  0.25633006]), 1.0],
 [array([0.28422973, 0.96592514]), 1.0],
 [array([1.07329112, 2.31620201]), 1.0],
 [array([-0.16278352, -0.06822914]), 1.0],
 [array([0.37875618, 1.67224333]), 1.0],
 [array([-0.76031838,  1.33444967]), 1.0],
 [array([-0.53872398, -0.06106671]), 1.0],
 [array([-1.3480613,  0.5391807]), 1.0],
 [array([0.8493378, 1.5847846]), 1.0],
 [array([-0.84164408,  0.56155873]), 1.0],
 [array([-0.65324807,  1.81842374]), 1.0],
 [array([0.39442622, 1.62842925]), 1.0],
 [array([0.66997303, 0.82487352]), 1.0],
 [array([-0.44509125,  0.22864458]), 1.0],
 [array([1.32759496, 1.53546323]), 1.0],
 [array([-0.43337466, -0.45197962]), 1.0],
 [array([1.16421902, 1.4844649 ]), 1.0],
 [array([0.46526246, 1.18254402]), 1.0],
 [array([-0.23569548,  2.22208534]), 1.0],
 [array([-1.65457845, -0.35577968]), 1.0],
 [array([ 0.3508647 , -0.66509032]), 1.0],
 [array([0.93441431, 2.50514637]), 1.0],
 [array([-1.13721476,  0.07156738]), 1.0],
 [array([0.5582984 , 0.93354887]), 1.0],
 [array([-0.67741244,  1.61881671]), 1.0],
 [array([-1.3477257, -0.6515689]), 1.0],
 [array([0.01861143, 1.30514042]), 1.0],
 [array([1.22908985, 1.19444233]), 1.0],
 [array([-0.63805939,  1.41888598]), 1.0],
 [array([0.50820377, 2.06225317]), 1.0],
 [array([-0.20977065,  1.66794175]), 1.0],
 [array([-1.14772736,  0.56508936]), 1.0],
 [array([-0.96111709,  0.9932576 ]), 1.0],
 [array([0.68478417, 2.98360643]), 1.0],
 [array([0.65035689, 1.15899473]), 1.0],
 [array([-1.7580855 ,  1.00625568]), 1.0],
 [array([0.26412506, 1.39896241]), 1.0],
 [array([-0.2853563 ,  1.22521862]), 1.0],
 [array([1.386236  , 2.04631046]), 1.0],
 [array([-0.1003743 ,  1.19791665]), 1.0],
 [array([-0.56893866,  0.36345923]), 1.0],
 [array([-0.74823522,  0.30166248]), 1.0],
 [array([0.94091117, 1.10141461]), 1.0],
 [array([-1.14704367,  0.55017264]), 1.0],
 [array([-0.5628373 ,  0.27017284]), 1.0],
 [array([0.00717591, 0.53080432]), 1.0],
 [array([-1.31976544,  0.21188179]), 1.0],
 [array([0.16843331, 1.335027  ]), 1.0],
 [array([-1.12207722,  0.05917188]), 1.0],
 [array([1.38923089, 2.59258407]), 1.0],
 [array([-0.35276782,  0.13646095]), 1.0],
 [array([0.78962568, 0.93166981]), 1.0],
 [array([-1.00253042, -0.67616247]), 1.0],
 [array([0.29238678, 0.56117782]), 1.0]]

In [211]:
b = np.unique(y_train, return_counts=True)
b

(array([0., 1.]), array([199,  80], dtype=int64))

In [212]:
def score(x,y):
    count=0
    for i in range(len(y)):
        if x[i][1]==y[i]:
            count=count+1
    print(count)
    print(count/len(y))
    print('\n')
    print(count/len(y)*100)

In [213]:
score(predict, y_test)

119
0.9916666666666667


99.16666666666667

__Titanic Dataset with Skretch KNN:__

In [62]:
train = pd.read_csv('titanic_train.csv')
test = pd.read_csv('titanic_test.csv')
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [63]:
train.drop(['PassengerId','Name','Ticket','Cabin'], axis=1, inplace=True)
train.head(n=10)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S
5         0       3    male   NaN      0      0   8.4583        Q
6         0       1    male  54.0      0      0  51.8625        S
7         0       3    male   2.0      3      1  21.0750        S
8         1       3  female  27.0      0      2  11.1333        S
9         1       2  female  14.0      1      0  30.0708        C

In [64]:
train = train.fillna({"Age":train["Age"].mean()})
train

     Survived  Pclass     Sex        Age  SibSp  Parch      Fare Embarked
0           0       3    male  22.000000      1      0    7.2500        S
1           1       1  female  38.000000      1      0   71.2833        C
2           1       3  female  26.000000      0      0    7.9250        S
3           1       1  female  35.000000      1      0   53.1000        S
4           0       3    male  35.000000      0      0    8.0500        S
5           0       3    male  29.699118      0      0    8.4583        Q
6           0       1    male  54.000000      0      0   51.8625        S
7           0       3    male   2.000000      3      1   21.0750        S
8           1       3  female  27.000000      0      2   11.1333        S
9           1       2  female  14.000000      1      0   30.0708        C
10          1       3  female   4.000000      1      1   16.7000        S
11          1       1  female  58.000000      0      0   26.5500        S
12          0       3    male  20.000000      0      0    8.0500        S
13          0       3    male  39.000000      1      5   31.2750        S
14          0       3  female  14.000000      0      0    7.8542        S
15          1       2  female  55.000000      0      0   16.0000        S
16          0       3    male   2.000000      4      1   29.1250        Q
17          1       2    male  29.699118      0      0   13.0000        S
18          0       3  female  31.000000      1      0   18.0000        S
19          1       3  female  29.699118      0      0    7.2250        C
20          0       2    male  35.000000      0      0   26.0000        S
21          1       2    male  34.000000      0      0   13.0000        S
22          1       3  female  15.000000      0      0    8.0292        Q
23          1       1    male  28.000000      0      0   35.5000        S
24          0       3  female   8.000000      3      1   21.0750        S
25          1       3  female  38.000000      1      5   31.3875        S
26          0       3    male  29.699118      0      0    7.2250        C
27          0       1    male  19.000000      3      2  263.0000        S
28          1       3  female  29.699118      0      0    7.8792        Q
29          0       3    male  29.699118      0      0    7.8958        S
..        ...     ...     ...        ...    ...    ...       ...      ...
861         0       2    male  21.000000      1      0   11.5000        S
862         1       1  female  48.000000      0      0   25.9292        S
863         0       3  female  29.699118      8      2   69.5500        S
864         0       2    male  24.000000      0      0   13.0000        S
865         1       2  female  42.000000      0      0   13.0000        S
866         1       2  female  27.000000      1      0   13.8583        C
867         0       1    male  31.000000      0      0   50.4958        S
868         0       3    male  29.699118      0      0    9.5000        S
869         1       3    male   4.000000      1      1   11.1333        S
870         0       3    male  26.000000      0      0    7.8958        S
871         1       1  female  47.000000      1      1   52.5542        S
872         0       1    male  33.000000      0      0    5.0000        S
873         0       3    male  47.000000      0      0    9.0000        S
874         1       2  female  28.000000      1      0   24.0000        C
875         1       3  female  15.000000      0      0    7.2250        C
876         0       3    male  20.000000      0      0    9.8458        S
877         0       3    male  19.000000      0      0    7.8958        S
878         0       3    male  29.699118      0      0    7.8958        S
879         1       1  female  56.000000      0      1   83.1583        C
880         1       2  female  25.000000      0      1   26.0000        S
881         0       3    male  33.000000      0      0    7.8958        S
882         0       3  female  22.000000      0      0   10.5167        S
883         0       2    male  28.000000      0      0   10.5000        S
884         0       3    male  25.000000      0      0    7.0500        S
885         0       3  female  39.000000      0      5   29.1250        Q
886         0       2    male  27.000000      0      0   13.0000        S
887         1       1  female  19.000000      0      0   30.0000        S
888         0       3  female  29.699118      1      2   23.4500        S
889         1       1    male  26.000000      0      0   30.0000        C
890         0       3    male  32.000000      0      0    7.7500        Q

[891 rows x 8 columns]

In [67]:
train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [66]:
train.dropna(inplace=True)
train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [68]:
## Labeling in the sex column......
l=[]
def convert_sex(sex):
    #print(sex)
    for i in sex:
        if i=='male':
            l.append(1)
        else:
            l.append(0)
convert_sex(train["Sex"])
train["Sex"]=l
train

     Survived  Pclass  Sex        Age  SibSp  Parch      Fare Embarked
0           0       3    1  22.000000      1      0    7.2500        S
1           1       1    0  38.000000      1      0   71.2833        C
2           1       3    0  26.000000      0      0    7.9250        S
3           1       1    0  35.000000      1      0   53.1000        S
4           0       3    1  35.000000      0      0    8.0500        S
5           0       3    1  29.699118      0      0    8.4583        Q
6           0       1    1  54.000000      0      0   51.8625        S
7           0       3    1   2.000000      3      1   21.0750        S
8           1       3    0  27.000000      0      2   11.1333        S
9           1       2    0  14.000000      1      0   30.0708        C
10          1       3    0   4.000000      1      1   16.7000        S
11          1       1    0  58.000000      0      0   26.5500        S
12          0       3    1  20.000000      0      0    8.0500        S
13          0       3    1  39.000000      1      5   31.2750        S
14          0       3    0  14.000000      0      0    7.8542        S
15          1       2    0  55.000000      0      0   16.0000        S
16          0       3    1   2.000000      4      1   29.1250        Q
17          1       2    1  29.699118      0      0   13.0000        S
18          0       3    0  31.000000      1      0   18.0000        S
19          1       3    0  29.699118      0      0    7.2250        C
20          0       2    1  35.000000      0      0   26.0000        S
21          1       2    1  34.000000      0      0   13.0000        S
22          1       3    0  15.000000      0      0    8.0292        Q
23          1       1    1  28.000000      0      0   35.5000        S
24          0       3    0   8.000000      3      1   21.0750        S
25          1       3    0  38.000000      1      5   31.3875        S
26          0       3    1  29.699118      0      0    7.2250        C
27          0       1    1  19.000000      3      2  263.0000        S
28          1       3    0  29.699118      0      0    7.8792        Q
29          0       3    1  29.699118      0      0    7.8958        S
..        ...     ...  ...        ...    ...    ...       ...      ...
861         0       2    1  21.000000      1      0   11.5000        S
862         1       1    0  48.000000      0      0   25.9292        S
863         0       3    0  29.699118      8      2   69.5500        S
864         0       2    1  24.000000      0      0   13.0000        S
865         1       2    0  42.000000      0      0   13.0000        S
866         1       2    0  27.000000      1      0   13.8583        C
867         0       1    1  31.000000      0      0   50.4958        S
868         0       3    1  29.699118      0      0    9.5000        S
869         1       3    1   4.000000      1      1   11.1333        S
870         0       3    1  26.000000      0      0    7.8958        S
871         1       1    0  47.000000      1      1   52.5542        S
872         0       1    1  33.000000      0      0    5.0000        S
873         0       3    1  47.000000      0      0    9.0000        S
874         1       2    0  28.000000      1      0   24.0000        C
875         1       3    0  15.000000      0      0    7.2250        C
876         0       3    1  20.000000      0      0    9.8458        S
877         0       3    1  19.000000      0      0    7.8958        S
878         0       3    1  29.699118      0      0    7.8958        S
879         1       1    0  56.000000      0      1   83.1583        C
880         1       2    0  25.000000      0      1   26.0000        S
881         0       3    1  33.000000      0      0    7.8958        S
882         0       3    0  22.000000      0      0   10.5167        S
883         0       2    1  28.000000      0      0   10.5000        S
884         0       3    1  25.000000      0      0    7.0500        S
885         0       3    0  39.000000      0      5   29.1250        Q
886         0       2    1  27.000000      0      0   13.0000        S
887         1       1    0  19.000000      0      0   30.0000        S
888         0       3    0  29.699118      1      2   23.4500        S
889         1       1    1  26.000000      0      0   30.0000        C
890         0       3    1  32.000000      0      0    7.7500        Q

[889 rows x 8 columns]

In [69]:
## Labeling the Embarked column....
ls=[]
def convert_em(embarked):
   # print(embarked)
    for i in embarked:
        if i=="S":
            ls.append(1)
        elif i=="C":
            ls.append(2)
        else:
            ls.append(3)
convert_em(train['Embarked'])
train["Embarked"]=ls
train

     Survived  Pclass  Sex        Age  SibSp  Parch      Fare  Embarked
0           0       3    1  22.000000      1      0    7.2500         1
1           1       1    0  38.000000      1      0   71.2833         2
2           1       3    0  26.000000      0      0    7.9250         1
3           1       1    0  35.000000      1      0   53.1000         1
4           0       3    1  35.000000      0      0    8.0500         1
5           0       3    1  29.699118      0      0    8.4583         3
6           0       1    1  54.000000      0      0   51.8625         1
7           0       3    1   2.000000      3      1   21.0750         1
8           1       3    0  27.000000      0      2   11.1333         1
9           1       2    0  14.000000      1      0   30.0708         2
10          1       3    0   4.000000      1      1   16.7000         1
11          1       1    0  58.000000      0      0   26.5500         1
12          0       3    1  20.000000      0      0    8.0500         1
13          0       3    1  39.000000      1      5   31.2750         1
14          0       3    0  14.000000      0      0    7.8542         1
15          1       2    0  55.000000      0      0   16.0000         1
16          0       3    1   2.000000      4      1   29.1250         3
17          1       2    1  29.699118      0      0   13.0000         1
18          0       3    0  31.000000      1      0   18.0000         1
19          1       3    0  29.699118      0      0    7.2250         2
20          0       2    1  35.000000      0      0   26.0000         1
21          1       2    1  34.000000      0      0   13.0000         1
22          1       3    0  15.000000      0      0    8.0292         3
23          1       1    1  28.000000      0      0   35.5000         1
24          0       3    0   8.000000      3      1   21.0750         1
25          1       3    0  38.000000      1      5   31.3875         1
26          0       3    1  29.699118      0      0    7.2250         2
27          0       1    1  19.000000      3      2  263.0000         1
28          1       3    0  29.699118      0      0    7.8792         3
29          0       3    1  29.699118      0      0    7.8958         1
..        ...     ...  ...        ...    ...    ...       ...       ...
861         0       2    1  21.000000      1      0   11.5000         1
862         1       1    0  48.000000      0      0   25.9292         1
863         0       3    0  29.699118      8      2   69.5500         1
864         0       2    1  24.000000      0      0   13.0000         1
865         1       2    0  42.000000      0      0   13.0000         1
866         1       2    0  27.000000      1      0   13.8583         2
867         0       1    1  31.000000      0      0   50.4958         1
868         0       3    1  29.699118      0      0    9.5000         1
869         1       3    1   4.000000      1      1   11.1333         1
870         0       3    1  26.000000      0      0    7.8958         1
871         1       1    0  47.000000      1      1   52.5542         1
872         0       1    1  33.000000      0      0    5.0000         1
873         0       3    1  47.000000      0      0    9.0000         1
874         1       2    0  28.000000      1      0   24.0000         2
875         1       3    0  15.000000      0      0    7.2250         2
876         0       3    1  20.000000      0      0    9.8458         1
877         0       3    1  19.000000      0      0    7.8958         1
878         0       3    1  29.699118      0      0    7.8958         1
879         1       1    0  56.000000      0      1   83.1583         2
880         1       2    0  25.000000      0      1   26.0000         1
881         0       3    1  33.000000      0      0    7.8958         1
882         0       3    0  22.000000      0      0   10.5167         1
883         0       2    1  28.000000      0      0   10.5000         1
884         0       3    1  25.000000      0      0    7.0500         1
885         0       3    0  39.000000      0      5   29.1250         3
886         0       2    1  27.000000      0      0   13.0000         1
887         1       1    0  19.000000      0      0   30.0000         1
888         0       3    0  29.699118      1      2   23.4500         1
889         1       1    1  26.000000      0      0   30.0000         2
890         0       3    1  32.000000      0      0    7.7500         3

[889 rows x 8 columns]

In [70]:
train["Embarked"].dtype , train["Sex"].dtype

(dtype('int64'), dtype('int64'))

In [71]:
test.drop(['PassengerId','Name','Ticket','Cabin'], axis=1, inplace=True)
test.head(n=10)

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S
5       3    male  14.0      0      0   9.2250        S
6       3  female  30.0      0      0   7.6292        Q
7       2    male  26.0      1      1  29.0000        S
8       3  female  18.0      0      0   7.2292        C
9       3    male  21.0      2      0  24.1500        S

In [72]:
test = test.fillna({"Age":test["Age"].mean()})
test

     Pclass     Sex       Age  SibSp  Parch      Fare Embarked
0         3    male  34.50000      0      0    7.8292        Q
1         3  female  47.00000      1      0    7.0000        S
2         2    male  62.00000      0      0    9.6875        Q
3         3    male  27.00000      0      0    8.6625        S
4         3  female  22.00000      1      1   12.2875        S
5         3    male  14.00000      0      0    9.2250        S
6         3  female  30.00000      0      0    7.6292        Q
7         2    male  26.00000      1      1   29.0000        S
8         3  female  18.00000      0      0    7.2292        C
9         3    male  21.00000      2      0   24.1500        S
10        3    male  30.27259      0      0    7.8958        S
11        1    male  46.00000      0      0   26.0000        S
12        1  female  23.00000      1      0   82.2667        S
13        2    male  63.00000      1      0   26.0000        S
14        1  female  47.00000      1      0   61.1750        S
15        2  female  24.00000      1      0   27.7208        C
16        2    male  35.00000      0      0   12.3500        Q
17        3    male  21.00000      0      0    7.2250        C
18        3  female  27.00000      1      0    7.9250        S
19        3  female  45.00000      0      0    7.2250        C
20        1    male  55.00000      1      0   59.4000        C
21        3    male   9.00000      0      1    3.1708        S
22        1  female  30.27259      0      0   31.6833        S
23        1    male  21.00000      0      1   61.3792        C
24        1  female  48.00000      1      3  262.3750        C
25        3    male  50.00000      1      0   14.5000        S
26        1  female  22.00000      0      1   61.9792        C
27        3    male  22.50000      0      0    7.2250        C
28        1    male  41.00000      0      0   30.5000        S
29        3    male  30.27259      2      0   21.6792        C
..      ...     ...       ...    ...    ...       ...      ...
388       3    male  21.00000      0      0    7.7500        Q
389       3    male   6.00000      3      1   21.0750        S
390       1    male  23.00000      0      0   93.5000        S
391       1  female  51.00000      0      1   39.4000        S
392       3    male  13.00000      0      2   20.2500        S
393       2    male  47.00000      0      0   10.5000        S
394       3    male  29.00000      3      1   22.0250        S
395       1  female  18.00000      1      0   60.0000        S
396       3    male  24.00000      0      0    7.2500        Q
397       1  female  48.00000      1      1   79.2000        C
398       3    male  22.00000      0      0    7.7750        S
399       3    male  31.00000      0      0    7.7333        Q
400       1  female  30.00000      0      0  164.8667        S
401       2    male  38.00000      1      0   21.0000        S
402       1  female  22.00000      0      1   59.4000        C
403       1    male  17.00000      0      0   47.1000        S
404       1    male  43.00000      1      0   27.7208        C
405       2    male  20.00000      0      0   13.8625        C
406       2    male  23.00000      1      0   10.5000        S
407       1    male  50.00000      1      1  211.5000        C
408       3  female  30.27259      0      0    7.7208        Q
409       3  female   3.00000      1      1   13.7750        S
410       3  female  30.27259      0      0    7.7500        Q
411       1  female  37.00000      1      0   90.0000        Q
412       3  female  28.00000      0      0    7.7750        S
413       3    male  30.27259      0      0    8.0500        S
414       1  female  39.00000      0      0  108.9000        C
415       3    male  38.50000      0      0    7.2500        S
416       3    male  30.27259      0      0    8.0500        S
417       3    male  30.27259      1      1   22.3583        C

[418 rows x 7 columns]

In [73]:
## Labeling in the sex column......
l=[]
def convert_sex(sex):
    #print(sex)
    for i in sex:
        if i=='male':
            l.append(1)
        else:
            l.append(0)
convert_sex(test["Sex"])
test["Sex"]=l
test

     Pclass  Sex       Age  SibSp  Parch      Fare Embarked
0         3    1  34.50000      0      0    7.8292        Q
1         3    0  47.00000      1      0    7.0000        S
2         2    1  62.00000      0      0    9.6875        Q
3         3    1  27.00000      0      0    8.6625        S
4         3    0  22.00000      1      1   12.2875        S
5         3    1  14.00000      0      0    9.2250        S
6         3    0  30.00000      0      0    7.6292        Q
7         2    1  26.00000      1      1   29.0000        S
8         3    0  18.00000      0      0    7.2292        C
9         3    1  21.00000      2      0   24.1500        S
10        3    1  30.27259      0      0    7.8958        S
11        1    1  46.00000      0      0   26.0000        S
12        1    0  23.00000      1      0   82.2667        S
13        2    1  63.00000      1      0   26.0000        S
14        1    0  47.00000      1      0   61.1750        S
15        2    0  24.00000      1      0   27.7208        C
16        2    1  35.00000      0      0   12.3500        Q
17        3    1  21.00000      0      0    7.2250        C
18        3    0  27.00000      1      0    7.9250        S
19        3    0  45.00000      0      0    7.2250        C
20        1    1  55.00000      1      0   59.4000        C
21        3    1   9.00000      0      1    3.1708        S
22        1    0  30.27259      0      0   31.6833        S
23        1    1  21.00000      0      1   61.3792        C
24        1    0  48.00000      1      3  262.3750        C
25        3    1  50.00000      1      0   14.5000        S
26        1    0  22.00000      0      1   61.9792        C
27        3    1  22.50000      0      0    7.2250        C
28        1    1  41.00000      0      0   30.5000        S
29        3    1  30.27259      2      0   21.6792        C
..      ...  ...       ...    ...    ...       ...      ...
388       3    1  21.00000      0      0    7.7500        Q
389       3    1   6.00000      3      1   21.0750        S
390       1    1  23.00000      0      0   93.5000        S
391       1    0  51.00000      0      1   39.4000        S
392       3    1  13.00000      0      2   20.2500        S
393       2    1  47.00000      0      0   10.5000        S
394       3    1  29.00000      3      1   22.0250        S
395       1    0  18.00000      1      0   60.0000        S
396       3    1  24.00000      0      0    7.2500        Q
397       1    0  48.00000      1      1   79.2000        C
398       3    1  22.00000      0      0    7.7750        S
399       3    1  31.00000      0      0    7.7333        Q
400       1    0  30.00000      0      0  164.8667        S
401       2    1  38.00000      1      0   21.0000        S
402       1    0  22.00000      0      1   59.4000        C
403       1    1  17.00000      0      0   47.1000        S
404       1    1  43.00000      1      0   27.7208        C
405       2    1  20.00000      0      0   13.8625        C
406       2    1  23.00000      1      0   10.5000        S
407       1    1  50.00000      1      1  211.5000        C
408       3    0  30.27259      0      0    7.7208        Q
409       3    0   3.00000      1      1   13.7750        S
410       3    0  30.27259      0      0    7.7500        Q
411       1    0  37.00000      1      0   90.0000        Q
412       3    0  28.00000      0      0    7.7750        S
413       3    1  30.27259      0      0    8.0500        S
414       1    0  39.00000      0      0  108.9000        C
415       3    1  38.50000      0      0    7.2500        S
416       3    1  30.27259      0      0    8.0500        S
417       3    1  30.27259      1      1   22.3583        C

[418 rows x 7 columns]

In [74]:
## Labeling the Embarked column....
ls=[]
def convert_em(embarked):
   # print(embarked)
    for i in embarked:
        if i=="S":
            ls.append(1)
        elif i=="C":
            ls.append(2)
        else:
            ls.append(3)
convert_em(test['Embarked'])
test["Embarked"]=ls
test

     Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0         3    1  34.50000      0      0    7.8292         3
1         3    0  47.00000      1      0    7.0000         1
2         2    1  62.00000      0      0    9.6875         3
3         3    1  27.00000      0      0    8.6625         1
4         3    0  22.00000      1      1   12.2875         1
5         3    1  14.00000      0      0    9.2250         1
6         3    0  30.00000      0      0    7.6292         3
7         2    1  26.00000      1      1   29.0000         1
8         3    0  18.00000      0      0    7.2292         2
9         3    1  21.00000      2      0   24.1500         1
10        3    1  30.27259      0      0    7.8958         1
11        1    1  46.00000      0      0   26.0000         1
12        1    0  23.00000      1      0   82.2667         1
13        2    1  63.00000      1      0   26.0000         1
14        1    0  47.00000      1      0   61.1750         1
15        2    0  24.00000      1      0   27.7208         2
16        2    1  35.00000      0      0   12.3500         3
17        3    1  21.00000      0      0    7.2250         2
18        3    0  27.00000      1      0    7.9250         1
19        3    0  45.00000      0      0    7.2250         2
20        1    1  55.00000      1      0   59.4000         2
21        3    1   9.00000      0      1    3.1708         1
22        1    0  30.27259      0      0   31.6833         1
23        1    1  21.00000      0      1   61.3792         2
24        1    0  48.00000      1      3  262.3750         2
25        3    1  50.00000      1      0   14.5000         1
26        1    0  22.00000      0      1   61.9792         2
27        3    1  22.50000      0      0    7.2250         2
28        1    1  41.00000      0      0   30.5000         1
29        3    1  30.27259      2      0   21.6792         2
..      ...  ...       ...    ...    ...       ...       ...
388       3    1  21.00000      0      0    7.7500         3
389       3    1   6.00000      3      1   21.0750         1
390       1    1  23.00000      0      0   93.5000         1
391       1    0  51.00000      0      1   39.4000         1
392       3    1  13.00000      0      2   20.2500         1
393       2    1  47.00000      0      0   10.5000         1
394       3    1  29.00000      3      1   22.0250         1
395       1    0  18.00000      1      0   60.0000         1
396       3    1  24.00000      0      0    7.2500         3
397       1    0  48.00000      1      1   79.2000         2
398       3    1  22.00000      0      0    7.7750         1
399       3    1  31.00000      0      0    7.7333         3
400       1    0  30.00000      0      0  164.8667         1
401       2    1  38.00000      1      0   21.0000         1
402       1    0  22.00000      0      1   59.4000         2
403       1    1  17.00000      0      0   47.1000         1
404       1    1  43.00000      1      0   27.7208         2
405       2    1  20.00000      0      0   13.8625         2
406       2    1  23.00000      1      0   10.5000         1
407       1    1  50.00000      1      1  211.5000         2
408       3    0  30.27259      0      0    7.7208         3
409       3    0   3.00000      1      1   13.7750         1
410       3    0  30.27259      0      0    7.7500         3
411       1    0  37.00000      1      0   90.0000         3
412       3    0  28.00000      0      0    7.7750         1
413       3    1  30.27259      0      0    8.0500         1
414       1    0  39.00000      0      0  108.9000         2
415       3    1  38.50000      0      0    7.2500         1
416       3    1  30.27259      0      0    8.0500         1
417       3    1  30.27259      1      1   22.3583         2

[418 rows x 7 columns]

In [75]:
test["Embarked"].dtype, test["Sex"].dtype

(dtype('int64'), dtype('int64'))

In [78]:
test.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [77]:
test.dropna(inplace=True)

In [136]:
x = train.drop('Survived', axis=1)
y = train['Survived']

x_train = x.values
y_train = y.values
x_test = test.values

In [137]:
x_train

array([[ 3.        ,  1.        , 22.        , ...,  0.        ,
         7.25      ,  1.        ],
       [ 1.        ,  0.        , 38.        , ...,  0.        ,
        71.2833    ,  2.        ],
       [ 3.        ,  0.        , 26.        , ...,  0.        ,
         7.925     ,  1.        ],
       ...,
       [ 3.        ,  0.        , 29.69911765, ...,  2.        ,
        23.45      ,  1.        ],
       [ 1.        ,  1.        , 26.        , ...,  0.        ,
        30.        ,  2.        ],
       [ 3.        ,  1.        , 32.        , ...,  0.        ,
         7.75      ,  3.        ]])

In [138]:
x_test

array([[ 3.        ,  1.        , 34.5       , ...,  0.        ,
         7.8292    ,  3.        ],
       [ 3.        ,  0.        , 47.        , ...,  0.        ,
         7.        ,  1.        ],
       [ 2.        ,  1.        , 62.        , ...,  0.        ,
         9.6875    ,  3.        ],
       ...,
       [ 3.        ,  1.        , 38.5       , ...,  0.        ,
         7.25      ,  1.        ],
       [ 3.        ,  1.        , 30.27259036, ...,  0.        ,
         8.05      ,  1.        ],
       [ 3.        ,  1.        , 30.27259036, ...,  1.        ,
        22.3583    ,  2.        ]])

In [139]:
y_train

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [140]:
def distance(a,b):
    dist = np.sqrt(sum(a-b)**2)
    return dist

In [141]:
def KNN(x,y,querry, k=7):
    m = x.shape[0]
    n = querry.shape[0]
    predict=[]
    for j in range(n):
        dist =[]
        for i in range(m):
            d = distance(x[i], querry[j])
            dist.append([d,y[i]])                ## here y is 1D...
        sort_dist = sorted(dist)
        sort_dist = sort_dist[:7]
        sort_dist = np.array(sort_dist)
        no_of_label = np.unique(sort_dist[:,1], return_counts=True)
        index = no_of_label[1].argmax()
        predict.append([querry[j], no_of_label[0][index]])
    return predict

In [142]:
x_train.shape , y_train.shape , x_test.shape

((889, 7), (889,), (417, 7))

In [143]:
predict = KNN(x_train,y_train,x_test)

In [144]:
predict

[[array([ 3.    ,  1.    , 34.5   ,  0.    ,  0.    ,  7.8292,  3.    ]), 0.0],
 [array([ 3.,  0., 47.,  1.,  0.,  7.,  1.]), 1.0],
 [array([ 2.    ,  1.    , 62.    ,  0.    ,  0.    ,  9.6875,  3.    ]), 1.0],
 [array([ 3.    ,  1.    , 27.    ,  0.    ,  0.    ,  8.6625,  1.    ]), 0.0],
 [array([ 3.    ,  0.    , 22.    ,  1.    ,  1.    , 12.2875,  1.    ]), 0.0],
 [array([ 3.   ,  1.   , 14.   ,  0.   ,  0.   ,  9.225,  1.   ]), 1.0],
 [array([ 3.    ,  0.    , 30.    ,  0.    ,  0.    ,  7.6292,  3.    ]), 1.0],
 [array([ 2.,  1., 26.,  1.,  1., 29.,  1.]), 0.0],
 [array([ 3.    ,  0.    , 18.    ,  0.    ,  0.    ,  7.2292,  2.    ]), 0.0],
 [array([ 3.  ,  1.  , 21.  ,  2.  ,  0.  , 24.15,  1.  ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          7.8958    ,  1.        ]), 0.0],
 [array([ 1.,  1., 46.,  0.,  0., 26.,  1.]), 0.0],
 [array([ 1.    ,  0.    , 23.    ,  1.    ,  0.    , 82.2667,  1.    ]), 0.0],
 [array([ 2.,  1., 63.,  1.,  0., 26.,  1.]), 1.0],
 [array([ 1.   ,  0.   , 47.   ,  1.   ,  0.   , 61.175,  1.   ]), 1.0],
 [array([ 2.    ,  0.    , 24.    ,  1.    ,  0.    , 27.7208,  2.    ]), 0.0],
 [array([ 2.  ,  1.  , 35.  ,  0.  ,  0.  , 12.35,  3.  ]), 0.0],
 [array([ 3.   ,  1.   , 21.   ,  0.   ,  0.   ,  7.225,  2.   ]), 0.0],
 [array([ 3.   ,  0.   , 27.   ,  1.   ,  0.   ,  7.925,  1.   ]), 0.0],
 [array([ 3.   ,  0.   , 45.   ,  0.   ,  0.   ,  7.225,  2.   ]), 0.0],
 [array([ 1. ,  1. , 55. ,  1. ,  0. , 59.4,  2. ]), 1.0],
 [array([3.    , 1.    , 9.    , 0.    , 1.    , 3.1708, 1.    ]), 1.0],
 [array([ 1.        ,  0.        , 30.27259036,  0.        ,  0.        ,
         31.6833    ,  1.        ]), 0.0],
 [array([ 1.    ,  1.    , 21.    ,  0.    ,  1.    , 61.3792,  2.    ]), 0.0],
 [array([  1.   ,   0.   ,  48.   ,   1.   ,   3.   , 262.375,   2.   ]), 1.0],
 [array([ 3. ,  1. , 50. ,  1. ,  0. , 14.5,  1. ]), 0.0],
 [array([ 1.    ,  0.    , 22.    ,  0.    ,  1.    , 61.9792,  2.    ]), 0.0],
 [array([ 3.   ,  1.   , 22.5  ,  0.   ,  0.   ,  7.225,  2.   ]), 0.0],
 [array([ 1. ,  1. , 41. ,  0. ,  0. , 30.5,  1. ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  2.        ,  0.        ,
         21.6792    ,  2.        ]), 0.0],
 [array([ 2.,  1., 50.,  1.,  0., 26.,  1.]), 0.0],
 [array([ 2. ,  1. , 24. ,  2. ,  0. , 31.5,  1. ]), 0.0],
 [array([ 3.   ,  0.   , 33.   ,  1.   ,  2.   , 20.575,  1.   ]), 0.0],
 [array([ 3.        ,  0.        , 30.27259036,  1.        ,  2.        ,
         23.45      ,  1.        ]), 0.0],
 [array([ 1.  ,  1.  , 30.  ,  1.  ,  0.  , 57.75,  2.  ]), 1.0],
 [array([ 3.    ,  1.    , 18.5   ,  0.    ,  0.    ,  7.2292,  2.    ]), 0.0],
 [array([ 3.        ,  0.        , 30.27259036,  0.        ,  0.        ,
          8.05      ,  1.        ]), 0.0],
 [array([ 3.    ,  0.    , 21.    ,  0.    ,  0.    ,  8.6625,  1.    ]), 0.0],
 [array([ 3. ,  1. , 25. ,  0. ,  0. ,  9.5,  1. ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
         56.4958    ,  1.        ]), 1.0],
 [array([ 3.    ,  1.    , 39.    ,  0.    ,  1.    , 13.4167,  2.    ]), 0.0],
 [array([ 1.        ,  1.        , 30.27259036,  0.        ,  0.        ,
         26.55      ,  1.        ]), 0.0],
 [array([ 3.  ,  1.  , 41.  ,  0.  ,  0.  ,  7.85,  1.  ]), 0.0],
 [array([ 2.,  0., 30.,  0.,  0., 13.,  1.]), 0.0],
 [array([ 1.    ,  0.    , 45.    ,  1.    ,  0.    , 52.5542,  1.    ]), 0.0],
 [array([ 3.   ,  1.   , 25.   ,  0.   ,  0.   ,  7.925,  1.   ]), 0.0],
 [array([ 1. ,  1. , 45. ,  0. ,  0. , 29.7,  2. ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          7.75      ,  3.        ]), 1.0],
 [array([ 1.    ,  0.    , 60.    ,  0.    ,  0.    , 76.2917,  2.    ]), 1.0],
 [array([ 3. ,  0. , 36. ,  0. ,  2. , 15.9,  1. ]), 1.0],
 [array([ 1.,  1., 24.,  1.,  0., 60.,  1.]), 0.0],
 [array([ 2.    ,  1.    , 27.    ,  0.    ,  0.    , 15.0333,  2.    ]), 0.0],
 [array([ 2.,  0., 20.,  2.,  1., 23.,  1.]), 0.0],
 [array([  1.,   0.,  28.,   3.,   2., 263.,   1.]), 1.0],
 [array([ 2.        ,  1.        , 30.27259036,  0.        ,  0.        ,
         15.5792    ,  2.        ]), 1.0],
 [array([ 3.   ,  1.   , 10.   ,  4.   ,  1.   , 29.125,  3.   ]), 1.0],
 [array([ 3.    ,  1.    , 35.    ,  0.    ,  0.    ,  7.8958,  1.    ]), 0.0],
 [array([ 3.  ,  1.  , 25.  ,  0.  ,  0.  ,  7.65,  1.  ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  1.        ,  0.        ,
         16.1       ,  1.        ]), 0.0],
 [array([  1.   ,   0.   ,  36.   ,   0.   ,   0.   , 262.375,   2.   ]), 1.0],
 [array([ 3.    ,  1.    , 17.    ,  0.    ,  0.    ,  7.8958,  1.    ]), 1.0],
 [array([ 2. ,  1. , 32. ,  0. ,  0. , 13.5,  1. ]), 0.0],
 [array([ 3.  ,  1.  , 18.  ,  0.  ,  0.  ,  7.75,  1.  ]), 0.0],
 [array([ 3.   ,  0.   , 22.   ,  0.   ,  0.   ,  7.725,  3.   ]), 0.0],
 [array([  1.   ,   1.   ,  13.   ,   2.   ,   2.   , 262.375,   2.   ]), 1.0],
 [array([ 2.        ,  0.        , 30.27259036,  0.        ,  0.        ,
         21.        ,  1.        ]), 0.0],
 [array([ 3.    ,  0.    , 18.    ,  0.    ,  0.    ,  7.8792,  3.    ]), 0.0],
 [array([ 1. ,  1. , 47. ,  0. ,  0. , 42.4,  1. ]), 0.0],
 [array([ 1.    ,  1.    , 31.    ,  0.    ,  0.    , 28.5375,  2.    ]), 1.0],
 [array([  1.,   0.,  60.,   1.,   4., 263.,   1.]), 1.0],
 [array([ 3.  ,  0.  , 24.  ,  0.  ,  0.  ,  7.75,  3.  ]), 0.0],
 [array([ 3.    ,  1.    , 21.    ,  0.    ,  0.    ,  7.8958,  1.    ]), 0.0],
 [array([ 3.   ,  0.   , 29.   ,  0.   ,  0.   ,  7.925,  1.   ]), 0.0],
 [array([ 1.    ,  1.    , 28.5   ,  0.    ,  0.    , 27.7208,  2.    ]), 0.0],
 [array([  1. ,   0. ,  35. ,   0. ,   0. , 211.5,   2. ]), 1.0],
 [array([  1. ,   1. ,  32.5,   0. ,   0. , 211.5,   2. ]), 1.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          8.05      ,  1.        ]), 0.0],
 [array([ 1. ,  0. , 55. ,  2. ,  0. , 25.7,  1. ]), 0.0],
 [array([ 2.,  1., 30.,  0.,  0., 13.,  1.]), 0.0],
 [array([ 3.  ,  0.  , 24.  ,  0.  ,  0.  ,  7.75,  3.  ]), 0.0],
 [array([ 3.    ,  1.    ,  6.    ,  1.    ,  1.    , 15.2458,  2.    ]), 1.0],
 [array([  1.    ,   1.    ,  67.    ,   1.    ,   0.    , 221.7792,
           1.    ]), 1.0],
 [array([ 1.,  1., 49.,  0.,  0., 26.,  1.]), 1.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          7.8958    ,  1.        ]), 0.0],
 [array([ 2.        ,  1.        , 30.27259036,  0.        ,  0.        ,
         10.7083    ,  3.        ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  1.        ,  0.        ,
         14.4542    ,  2.        ]), 0.0],
 [array([ 3.    ,  0.    , 27.    ,  0.    ,  0.    ,  7.8792,  3.    ]), 0.0],
 [array([ 3.  ,  0.  , 18.  ,  0.  ,  0.  ,  8.05,  1.  ]), 0.0],
 [array([ 3.        ,  0.        , 30.27259036,  0.        ,  0.        ,
          7.75      ,  3.        ]), 1.0],
 [array([ 2.,  1.,  2.,  1.,  1., 23.,  1.]), 0.0],
 [array([ 3. ,  0. , 22. ,  1. ,  0. , 13.9,  1. ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          7.775     ,  1.        ]), 0.0],
 [array([ 1.,  0., 27.,  1.,  2., 52.,  1.]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          8.05      ,  1.        ]), 0.0],
 [array([ 1.,  1., 25.,  0.,  0., 26.,  2.]), 0.0],
 [array([ 3.    ,  1.    , 25.    ,  0.    ,  0.    ,  7.7958,  1.    ]), 0.0],
 [array([ 1.  ,  0.  , 76.  ,  1.  ,  0.  , 78.85,  1.  ]), 1.0],
 [array([ 3.   ,  1.   , 29.   ,  0.   ,  0.   ,  7.925,  1.   ]), 0.0],
 [array([ 3.    ,  0.    , 20.    ,  0.    ,  0.    ,  7.8542,  1.    ]), 0.0],
 [array([ 3.  ,  1.  , 33.  ,  0.  ,  0.  ,  8.05,  1.  ]), 0.0],
 [array([ 1.    ,  0.    , 43.    ,  1.    ,  0.    , 55.4417,  2.    ]), 0.0],
 [array([ 2.,  1., 27.,  1.,  0., 26.,  1.]), 1.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          7.75      ,  3.        ]), 1.0],
 [array([ 3.   ,  1.   , 26.   ,  0.   ,  0.   ,  7.775,  1.   ]), 0.0],
 [array([ 3.    ,  0.    , 16.    ,  1.    ,  1.    ,  8.5167,  2.    ]), 0.0],
 [array([ 3.   ,  1.   , 28.   ,  0.   ,  0.   , 22.525,  1.   ]), 0.0],
 [array([ 3.    ,  1.    , 21.    ,  0.    ,  0.    ,  7.8208,  3.    ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          7.75      ,  3.        ]), 1.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          8.7125    ,  1.        ]), 1.0],
 [array([ 2. ,  1. , 18.5,  0. ,  0. , 13. ,  1. ]), 0.0],
 [array([ 2.    ,  1.    , 41.    ,  0.    ,  0.    , 15.0458,  2.    ]), 0.0],
 [array([ 3.        ,  0.        , 30.27259036,  0.        ,  0.        ,
          7.7792    ,  3.        ]), 1.0],
 [array([ 1.    ,  0.    , 36.    ,  0.    ,  0.    , 31.6792,  2.    ]), 0.0],
 [array([ 3.    ,  0.    , 18.5   ,  0.    ,  0.    ,  7.2833,  3.    ]), 0.0],
 [array([  1.    ,   0.    ,  63.    ,   1.    ,   0.    , 221.7792,
           1.    ]), 1.0],
 [array([ 3.    ,  1.    , 18.    ,  1.    ,  0.    , 14.4542,  2.    ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          6.4375    ,  2.        ]), 0.0],
 [array([ 3. ,  0. ,  1. ,  1. ,  1. , 16.7,  1. ]), 1.0],
 [array([ 1.    ,  1.    , 36.    ,  0.    ,  0.    , 75.2417,  2.    ]), 0.0],
 [array([ 2.,  0., 29.,  1.,  0., 26.,  1.]), 1.0],
 [array([ 2.  ,  0.  , 12.  ,  0.  ,  0.  , 15.75,  1.  ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  1.        ,  0.        ,
          7.75      ,  3.        ]), 0.0],
 [array([ 1.  ,  0.  , 35.  ,  1.  ,  0.  , 57.75,  2.  ]), 0.0],
 [array([ 3.  ,  1.  , 28.  ,  0.  ,  0.  ,  7.25,  1.  ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          7.75      ,  3.        ]), 1.0],
 [array([ 3. ,  0. , 17. ,  0. ,  1. , 16.1,  1. ]), 0.0],
 [array([ 3.    ,  1.    , 22.    ,  0.    ,  0.    ,  7.7958,  1.    ]), 0.0],
 [array([ 3.        ,  0.        , 30.27259036,  2.        ,  0.        ,
         23.25      ,  3.        ]), 0.0],
 [array([ 2.,  1., 42.,  0.,  0., 13.,  1.]), 1.0],
 [array([ 3.  ,  1.  , 24.  ,  0.  ,  0.  ,  8.05,  1.  ]), 0.0],
 [array([ 3.  ,  1.  , 32.  ,  0.  ,  0.  ,  8.05,  1.  ]), 0.0],
 [array([ 1. ,  1. , 53. ,  0. ,  0. , 28.5,  2. ]), 0.0],
 [array([ 3.        ,  0.        , 30.27259036,  0.        ,  4.        ,
         25.4667    ,  1.        ]), 1.0],
 [array([ 3.        ,  1.        , 30.27259036,  1.        ,  0.        ,
          6.4375    ,  2.        ]), 1.0],
 [array([ 3.    ,  1.    , 43.    ,  0.    ,  0.    ,  7.8958,  1.    ]), 0.0],
 [array([ 3.    ,  1.    , 24.    ,  0.    ,  0.    ,  7.8542,  1.    ]), 0.0],
 [array([ 3.   ,  1.   , 26.5  ,  0.   ,  0.   ,  7.225,  2.   ]), 0.0],
 [array([ 2.,  1., 26.,  0.,  0., 13.,  1.]), 0.0],
 [array([ 3.  ,  0.  , 23.  ,  0.  ,  0.  ,  8.05,  1.  ]), 0.0],
 [array([ 3. ,  1. , 40. ,  1. ,  6. , 46.9,  1. ]), 0.0],
 [array([ 3. ,  0. , 10. ,  5. ,  2. , 46.9,  1. ]), 0.0],
 [array([  1.  ,   0.  ,  33.  ,   0.  ,   0.  , 151.55,   1.  ]), 1.0],
 [array([  1.   ,   1.   ,  61.   ,   1.   ,   3.   , 262.375,   2.   ]), 1.0],
 [array([ 2.,  1., 28.,  0.,  0., 26.,  1.]), 1.0],
 [array([ 1.  ,  1.  , 42.  ,  0.  ,  0.  , 26.55,  1.  ]), 0.0],
 [array([ 3.,  1., 31.,  3.,  0., 18.,  1.]), 0.0],
 [array([ 1.        ,  1.        , 30.27259036,  0.        ,  0.        ,
         51.8625    ,  1.        ]), 0.0],
 [array([ 3.  ,  1.  , 22.  ,  0.  ,  0.  ,  8.05,  1.  ]), 0.0],
 [array([ 1.        ,  1.        , 30.27259036,  0.        ,  0.        ,
         26.55      ,  1.        ]), 0.0],
 [array([ 2.,  1., 30.,  1.,  1., 26.,  1.]), 0.0],
 [array([ 1.    ,  0.    , 23.    ,  0.    ,  1.    , 83.1583,  2.    ]), 1.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          7.8958    ,  2.        ]), 0.0],
 [array([ 3.    ,  0.    , 36.    ,  0.    ,  2.    , 12.1833,  1.    ]), 0.0],
 [array([ 3.    ,  1.    , 13.    ,  4.    ,  2.    , 31.3875,  1.    ]), 0.0],
 [array([ 3.  ,  1.  , 24.  ,  0.  ,  0.  ,  7.55,  1.  ]), 0.0],
 [array([  1.    ,   0.    ,  29.    ,   0.    ,   0.    , 221.7792,
           1.    ]), 1.0],
 [array([ 3.    ,  0.    , 23.    ,  0.    ,  0.    ,  7.8542,  1.    ]), 0.0],
 [array([ 1.  ,  1.  , 42.  ,  0.  ,  0.  , 26.55,  1.  ]), 0.0],
 [array([ 3.   ,  0.   , 26.   ,  0.   ,  2.   , 13.775,  1.   ]), 0.0],
 [array([ 3.        ,  0.        , 30.27259036,  0.        ,  0.        ,
          7.7333    ,  3.        ]), 1.0],
 [array([ 3.    ,  1.    ,  7.    ,  1.    ,  1.    , 15.2458,  2.    ]), 0.0],
 [array([ 2. ,  0. , 26. ,  0. ,  0. , 13.5,  1. ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          7.        ,  1.        ]), 0.0],
 [array([ 2.,  1., 41.,  0.,  0., 13.,  1.]), 1.0],
 [array([ 3.   ,  0.   , 26.   ,  1.   ,  1.   , 22.025,  1.   ]), 0.0],
 [array([ 1.    ,  1.    , 48.    ,  0.    ,  0.    , 50.4958,  2.    ]), 1.0],
 [array([ 3.   ,  1.   , 18.   ,  2.   ,  2.   , 34.375,  1.   ]), 0.0],
 [array([ 1.        ,  0.        , 30.27259036,  0.        ,  0.        ,
         27.7208    ,  2.        ]), 0.0],
 [array([ 3.    ,  0.    , 22.    ,  0.    ,  0.    ,  8.9625,  1.    ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          7.55      ,  1.        ]), 0.0],
 [array([ 3.   ,  1.   , 27.   ,  0.   ,  0.   ,  7.225,  2.   ]), 0.0],
 [array([ 3. ,  1. , 23. ,  1. ,  0. , 13.9,  1. ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          7.2292    ,  2.        ]), 1.0],
 [array([ 3.    ,  1.    , 40.    ,  1.    ,  5.    , 31.3875,  1.    ]), 0.0],
 [array([ 2.,  0., 15.,  0.,  2., 39.,  1.]), 1.0],
 [array([ 2.  ,  0.  , 20.  ,  0.  ,  0.  , 36.75,  1.  ]), 0.0],
 [array([ 1.    ,  1.    , 54.    ,  1.    ,  0.    , 55.4417,  2.    ]), 0.0],
 [array([ 2.,  0., 36.,  0.,  3., 39.,  1.]), 0.0],
 [array([ 1.    ,  0.    , 64.    ,  0.    ,  2.    , 83.1583,  2.    ]), 1.0],
 [array([ 2.,  1., 30.,  0.,  0., 13.,  1.]), 0.0],
 [array([ 1.    ,  1.    , 37.    ,  1.    ,  1.    , 83.1583,  2.    ]), 1.0],
 [array([ 1. ,  0. , 18. ,  1. ,  0. , 53.1,  1. ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          7.75      ,  3.        ]), 1.0],
 [array([  1.    ,   0.    ,  27.    ,   1.    ,   1.    , 247.5208,
           2.    ]), 1.0],
 [array([ 2.,  1., 40.,  0.,  0., 16.,  1.]), 0.0],
 [array([ 2.,  0., 21.,  0.,  1., 21.,  1.]), 0.0],
 [array([ 3.  ,  1.  , 17.  ,  2.  ,  0.  ,  8.05,  1.  ]), 0.0],
 [array([ 3.        ,  0.        , 30.27259036,  8.        ,  2.        ,
         69.55      ,  1.        ]), 0.0],
 [array([ 2.,  1., 40.,  0.,  0., 13.,  1.]), 0.0],
 [array([ 2.,  1., 34.,  1.,  0., 26.,  1.]), 0.0],
 [array([ 1.        ,  1.        , 30.27259036,  0.        ,  0.        ,
         26.        ,  1.        ]), 0.0],
 [array([ 3. ,  1. , 11.5,  1. ,  1. , 14.5,  1. ]), 0.0],
 [array([ 2.  ,  1.  , 61.  ,  0.  ,  0.  , 12.35,  3.  ]), 0.0],
 [array([ 2. ,  1. ,  8. ,  0. ,  2. , 32.5,  1. ]), 1.0],
 [array([ 3.    ,  1.    , 33.    ,  0.    ,  0.    ,  7.8542,  1.    ]), 0.0],
 [array([  1. ,   1. ,   6. ,   0. ,   2. , 134.5,   2. ]), 1.0],
 [array([ 3.   ,  0.   , 18.   ,  0.   ,  0.   ,  7.775,  1.   ]), 1.0],
 [array([ 2. ,  1. , 23. ,  0. ,  0. , 10.5,  1. ]), 0.0],
 [array([ 3.        ,  0.        , 30.27259036,  0.        ,  0.        ,
          8.1125    ,  1.        ]), 0.0],
 [array([ 3.        ,  0.        , 30.27259036,  0.        ,  0.        ,
         15.5       ,  3.        ]), 0.0],
 [array([ 3.  ,  1.  ,  0.33,  0.  ,  2.  , 14.4 ,  1.  ]), 1.0],
 [array([  1.   ,   1.   ,  47.   ,   1.   ,   0.   , 227.525,   2.   ]), 1.0],
 [array([ 2.,  0.,  8.,  1.,  1., 26.,  1.]), 0.0],
 [array([ 2. ,  1. , 25. ,  0. ,  0. , 10.5,  1. ]), 0.0],
 [array([ 1.        ,  1.        , 30.27259036,  0.        ,  0.        ,
         25.7417    ,  2.        ]), 0.0],
 [array([ 3.  ,  0.  , 35.  ,  0.  ,  0.  ,  7.75,  3.  ]), 1.0],
 [array([ 2. ,  1. , 24. ,  0. ,  0. , 10.5,  1. ]), 0.0],
 [array([ 1.    ,  0.    , 33.    ,  0.    ,  0.    , 27.7208,  2.    ]), 1.0],
 [array([ 3.    ,  1.    , 25.    ,  0.    ,  0.    ,  7.8958,  1.    ]), 0.0],
 [array([ 3.   ,  1.   , 32.   ,  0.   ,  0.   , 22.525,  1.   ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          7.05      ,  1.        ]), 0.0],
 [array([ 2. ,  1. , 17. ,  0. ,  0. , 73.5,  1. ]), 1.0],
 [array([ 2.,  0., 60.,  1.,  0., 26.,  1.]), 0.0],
 [array([ 3.   ,  0.   , 38.   ,  4.   ,  2.   ,  7.775,  1.   ]), 0.0],
 [array([ 1. ,  1. , 42. ,  0. ,  0. , 42.5,  1. ]), 0.0],
 [array([ 3.        ,  0.        , 30.27259036,  0.        ,  0.        ,
          7.8792    ,  3.        ]), 0.0],
 [array([  1.    ,   1.    ,  57.    ,   1.    ,   1.    , 164.8667,
           1.    ]), 1.0],
 [array([  1. ,   0. ,  50. ,   1. ,   1. , 211.5,   2. ]), 1.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          8.05      ,  1.        ]), 0.0],
 [array([ 2.    ,  0.    , 30.    ,  1.    ,  0.    , 13.8583,  2.    ]), 0.0],
 [array([ 3.  ,  1.  , 21.  ,  0.  ,  0.  ,  8.05,  1.  ]), 0.0],
 [array([ 2. ,  0. , 22. ,  0. ,  0. , 10.5,  1. ]), 0.0],
 [array([ 3.    ,  1.    , 21.    ,  0.    ,  0.    ,  7.7958,  1.    ]), 0.0],
 [array([ 1.    ,  0.    , 53.    ,  0.    ,  0.    , 27.4458,  2.    ]), 0.0],
 [array([ 3.        ,  0.        , 30.27259036,  0.        ,  2.        ,
         15.2458    ,  2.        ]), 0.0],
 [array([ 3.    ,  1.    , 23.    ,  0.    ,  0.    ,  7.7958,  1.    ]), 0.0],
 [array([ 3.        ,  0.        , 30.27259036,  0.        ,  0.        ,
          7.75      ,  3.        ]), 1.0],
 [array([ 3. ,  1. , 40.5,  0. ,  0. , 15.1,  1. ]), 0.0],
 [array([ 2.,  1., 36.,  0.,  0., 13.,  1.]), 0.0],
 [array([ 2.,  1., 14.,  0.,  0., 65.,  1.]), 0.0],
 [array([ 1.  ,  0.  , 21.  ,  0.  ,  0.  , 26.55,  1.  ]), 0.0],
 [array([ 3.    ,  1.    , 21.    ,  1.    ,  0.    ,  6.4958,  1.    ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          7.8792    ,  3.        ]), 0.0],
 [array([ 1.    ,  1.    , 39.    ,  1.    ,  0.    , 71.2833,  2.    ]), 0.0],
 [array([ 3.    ,  1.    , 20.    ,  0.    ,  0.    ,  7.8542,  1.    ]), 0.0],
 [array([ 1.  ,  1.  , 64.  ,  1.  ,  0.  , 75.25,  2.  ]), 1.0],
 [array([ 3.   ,  1.   , 20.   ,  0.   ,  0.   ,  7.225,  2.   ]), 1.0],
 [array([ 2.,  0., 18.,  1.,  1., 13.,  1.]), 0.0],
 [array([  1.   ,   0.   ,  48.   ,   1.   ,   0.   , 106.425,   2.   ]), 1.0],
 [array([ 1.    ,  0.    , 55.    ,  0.    ,  0.    , 27.7208,  2.    ]), 0.0],
 [array([ 2.,  0., 45.,  0.,  2., 30.,  1.]), 0.0],
 [array([  1. ,   1. ,  45. ,   1. ,   1. , 134.5,   2. ]), 1.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,
          7.8875    ,  1.        ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  1.        ,  2.        ,
         23.45      ,  1.        ]), 0.0],
 [array([ 1.    ,  1.    , 41.    ,  1.    ,  0.    , 51.8625,  1.    ]), 0.0],
 [array([ 2.,  0., 22.,  0.,  0., 21.,  1.]), 0.0],
 [array([ 2. ,  1. , 42. ,  1. ,  1. , 32.5,  1. ]), 0.0],
 [array([ 2.,  0., 29.,  1.,  0., 26.,  1.]), 1.0],
 [array([ 3.        ,  0.        , 30.27259036,  1.        ,  0.        ,
         14.4542    ,  2.        ]), 1.0],
 [array([ 2.  ,  0.  ,  0.92,  1.  ,  2.  , 27.75,  1.  ]), 0.0],
 [array([ 3.   ,  1.   , 20.   ,  0.   ,  0.   ,  7.925,  1.   ]), 0.0],
 [array([  1.    ,   1.    ,  27.    ,   1.    ,   0.    , 136.7792,
           2.    ]), 1.0],
 [array([ 3.   ,  1.   , 24.   ,  0.   ,  0.   ,  9.325,  1.   ]), 0.0],
 [array([ 3. ,  1. , 32.5,  0. ,  0. ,  9.5,  1. ]), 0.0],
 [array([ 3.        ,  1.        , 30.27259036,  0.        ,  0.        ,

In [169]:
new_predict=[]
for i in range(len(predict)):
    new_predict.append(predict[i][1])

prediction = pd.DataFrame(data=new_predict, columns=['predict'])

In [170]:
prediction

     predict
0        0.0
1        1.0
2        1.0
3        0.0
4        0.0
5        1.0
6        1.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       1.0
14       1.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       1.0
21       1.0
22       0.0
23       0.0
24       1.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
..       ...
387      0.0
388      0.0
389      1.0
390      1.0
391      0.0
392      0.0
393      0.0
394      0.0
395      0.0
396      1.0
397      0.0
398      0.0
399      1.0
400      0.0
401      0.0
402      0.0
403      0.0
404      0.0
405      0.0
406      1.0
407      1.0
408      1.0
409      1.0
410      1.0
411      0.0
412      0.0
413      1.0
414      1.0
415      0.0
416      0.0

[417 rows x 1 columns]

In [171]:
from sklearn.neighbors import KNeighborsClassifier

In [172]:
knn = KNeighborsClassifier(n_neighbors=7)

In [176]:
X_train = train.drop('Survived', axis=1)
Y_train = train['Survived']

In [179]:
knn.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=7, p=2,
                     weights='uniform')

In [180]:
sk_predict = knn.predict(test)

In [181]:
sk_predict

array([0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [196]:
def score(x,y):
    count=0
    for i in range(len(y)):
        if x[i]==y[i]:
            count=count+1
    print(count)
    print(count/len(y))
    print('\n')
    print(count/len(y)*100)

In [199]:
score(new_predict,sk_predict)

301
0.7218225419664268


72.18225419664267